<div class="container my-5">
    <!-- Góp ý, Khiếu nại -->
    <section class="mb-5">
        <h2 class="text-uppercase text-primary fw-bold mb-4">Góp ý, Khiếu nại</h2>
        <p>Viettelstore.vn tiếp nhận khiếu nại qua các hình thức sau:</p>
        <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item border-0">Tại website, fanpage liên hệ, bình luận khách hàng.</li>
            <li class="list-group-item border-0">Qua tổng đài bán hàng: <strong>1800.8123</strong>.</li>
            <li class="list-group-item border-0">Qua tổng đài giải quyết khiếu nại: <strong>1900.8096</strong>.</li>
            <li class="list-group-item border-0">Trực tiếp tại các cửa hàng ViettelStore.vn.</li>
        </ul>
        <p class="mb-2"><strong>Thời gian tiếp nhận khiếu nại của khách hàng:</strong> từ 08h00-22h00 hàng ngày.</p>
        <p><strong>Thời gian xử lý khiếu nại:</strong> trong vòng 48h.</p>
    </section>

    <!-- Trung tâm bảo hành -->
    <section>
        <h2 class="text-uppercase text-primary fw-bold mb-4">Trung tâm bảo hành sản phẩm trên toàn quốc</h2>
        <p>
            THEER Shop rất tiếc và xin lỗi vì sự cố khiến mặt hàng của quý khách bị hỏng và phải đi bảo hành tại Trung tâm bảo hành của hãng.
            THEER Shop có 2 hỗ trợ dành riêng cho khách hàng mua sản phẩm tại THEER Shop trong thời gian đi bảo hành như sau:
        </p>
        <ol class="list-group list-group-numbered mb-4">
            <li class="list-group-item border-0">
                <p> THEER Shop cung cấp cho khách hàng một mặt hàng dùng để nghe gọi (đã qua sử dụng) để khách hàng sử dụng tạm thời trong thời gian bảo hành.</p>
                <p> Chi tiết máy cung cấp quý khách có thể hỏi nhân viên siêu thị hoặc xem trên giấy tiếp nhận bảo hành/sửa chữa dịch vụ.</p>
            </li>
            <li class="list-group-item border-0">
                <p>  Nếu máy gửi đi bảo hành quá 15 ngày (không tính ngày nghỉ, ngày lễ, Tết) Trung tâm bảo hành hãng chưa trả máy cho khách hàng,</p>
                <p> THEER Shop có thể hỗ trợ khách đổi 01 sản phẩm tương đương giá trị với sản phẩm bảo hành của khách.</p>
            </li>
        </ol>
        <p>
            <a href="#" class="btn btn-outline-primary btn-sm">Xem thêm về chính sách đổi trả/bảo hành &gt;</a>
        </p>
    </section>
</div>
