@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="section-footer bg-secondary">
	<div class="container">
		<section class="footer-bottom text-center">

			<p class="text-white">Privacy Policy - Terms of Use - User Information Legal Enquiry Guide</p>
			<p class="text-muted"> &copy 2019 Company name, All rights reserved </p>
			<br>
		</section>

	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
